[submodule "Google_tests/lib/googletest"]
	path = Google_tests/lib/googletest
	url = https://github.com/google/googletest
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
